html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://github.com/JoseMIbarra/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/galaxy.jpg?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Lucida Bright", "Comic Sans", cursive;
  color: #09aec4;
  -webkit-text-stroke: 2px rgb(250, 250, 250);
}

h2 {
  text-align: center;
  font-family: "Lucida Bright", "Comic Sans", cursive;
  font-size: 30px;
  color: #09aec4;
  -webkit-text-stroke: 1px rgb(252, 247, 247);
}

#start {
    background-color: #09aec4;
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-family: "Lucida Bright", "Comic Sans";
}

#timer{
    color: #127acf;
    -webkit-text-stroke: 2px rgb(250, 247, 247);
}

.grid {
  width: 1000px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  cursor: url('https://github.com/JoseMIbarra/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/mallet.png?raw=true'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/powder-mist.jpg") bottom center no-repeat;*/
  background: url('https://github.com/JoseMIbarra/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/powder-mist.jpg?raw=true') bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.star {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://github.com/JoseMIbarra/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/blue-star.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.sprite {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://github.com/JoseMIbarra/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/yellow-star.png?raw=true')
  bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events: auto;
}

.hole.show .star {
  top: 0;
  /*transform: scale(1.1);*/
}

#starterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#easyLevel,
#normalLevel,
#hardLevel {
    background-color: #5390d9;
  color: #000000;
  font-size: 20px;
  font-family: "Lucida Bright", "Comic Sans";
}
